# Course Documents
12+Rules+to+Learn+to+Code+eBook+[Updated+26.11.18].pdf
AppBreweryCornellNotesTemplate.pdf
Web Dev Syllabus.pdf

# DOM Lesson
DOM/index.html
DOM/index.js
DOM/styles.css

# Bootstrap Lession
Bootstrap-Installation/index.html

# Intro to Node Lesson
Intro to Node/index.js
Intro to Node/package-lock.json
Intro to Node/package.json

# Express Lesson
my-express-server/package-lock.json
my-express-server/package.json
my-express-server/server.js

# jQuery Lesson
jQuery/index.html
jQuery/index.js
jQuery/styles.css

# Personal Website Project
Personal_Website/images/chillies.png
Personal_Website/images/computer.png

# TinDog Project
TinDog Website/index.html
TinDog Website/README.md
TinDog Website/css/styles.css
TinDog Website/images/bizinsider.png
TinDog Website/images/dog-img.jpg
TinDog Website/images/iphone6.png
TinDog Website/images/lady-img.jpg
TinDog Website/images/mashable.png
TinDog Website/images/TechCrunch.png
TinDog Website/images/tnw.png

# Course Notes
Course Notes/Connecting Heroku to MongoDB.txt
Course Notes/EJS Templates.txt
Course Notes/General JavaScript Notes.txt
Course Notes/Hosting_On_Heroku.txt
Course Notes/JavaScript_Notes.js
Javascript Notes/index.js
Course Notes/MongoDB.txt
Course Notes/Terminal_Commands_Git.txt
Course Notes/REST Api.txt
Course Notes/Authentication_Security.txt

# Node Modules
Intro to Node/node_modules
my-express-server/node_modules
FruitsProject/node_modules
WeatherProject/node_modules
ToDoList/node_modules
Wiki-API/node_modules
Secrets App/node_modules

# Config/Environment Files
WeatherProject/config.json
BEARTV-Signup/config.json
WeatherProject/config.js
ToDoList/config.json
Secrets App/.env