a{
  color: #2F8886;
}

body{
  background-color: #1A2F4B;
  color: #E1F1DD;
}

h1{
  color: #84C69B;
  font-family: cursive;
}

h3{
  color: #D5EEBB;
}

hr{
  border-color: #28475C;
  border-style: dotted none none;
  border-width: 10px;
  width: 10%;
}
