<!-- Add header from layout partial -->
<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" autocomplete="off" autofocus>
  </div>
  <div class="form-group">
    <label >Post</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30" placeholder="Let's Blog..." autocomplete="off"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>



<!-- Add footer from layout partial -->
<%- include('partials/footer'); -%>
