<!-- Add header from layout partial -->
<%- include('partials/header'); -%>

<h1>Contact</h1>
<p><%= contactContent %></p>



<!-- Add footer from layout partial -->
<%- include('partials/footer'); -%>
