<!-- Add header from layout partial -->
<%- include('partials/header'); -%>


<h1><%= postTitle %></h1>
<p><%= postContent %></p>


<!-- Add footer from layout partial -->
<%- include('partials/footer'); -%>
